<div class="row">
    <div class="col-lg-4" *ngFor="let item of productHome">
        <div class="card-deck mt-3">
            <div class="card">
                <img class="card-img-top p-3" src="{{item.imageUrl}}" width="100%" height="250px" alt="">
                <div class="card-body text-center">
                    <h4 class="card-title">{{item.productName}}</h4>
                    <p class="card-text font-weight-bold" style="color: rgb(200, 31, 31);">
                        {{item.price | currency:'VND'}}
                    </p>
                    <button class="btn btn-success" [routerLink]="['/product-details',item.id]"> 
                        Xem chi tiết
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>