<div class="row">
    <div class="col-4 text-center">
      <img  class="mt-2"src="{{productDetail?.imageUrl}}" style="width: 350px;
        height: 250px;">
    </div>
    <div class="col-5">
      <h1>{{productDetail?.productName}}</h1>
      <div class="text-justify">
        <h5>Mô tả: </h5>
        <div class="collapse show" id="collapseExample">
            <div class="card card-body">
                {{productDetail?.description}}
            </div>
        </div>
        
      </div>
      <h3 style="color: rgb(240, 53, 6);">Price : {{ productDetail?.price| number: '0.0'}} Đ/gam</h3>
      <h5>Tồn kho : {{InStock}} </h5>
      <button class="btn btn-success" [disabled]="InStock<1" (click)="Add()">Mua</button>
    </div>
    <!-- view cart -->
    <div class="col-3">
    <div style="border: 1px solid rgb(12, 129, 2);margin-top: 10px;padding: 10px;">
      <a href="#" style="float: left;" class="btn btn-success">
        <i class="fas fa-shopping-cart " style="font-size: 50px;">
        </i></a>
      <div class="text-center">
      {{ ItemCount()}}<br>Total :{{ ItemSum() |currency :'VND'}}<br>
      <button class="btn btn-success" style="margin-top: 10px;" data-toggle="modal" data-target="#modelId">View
        Cart</button>
    </div>
  </div>
</div>

  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <table style="width: 100%;" class="text-center table">
          <tr>
            <th>Picture</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total amount</th>
            <th></th>
          </tr><!--dùng ng-for thể hiện giỏ hàng -->
          <tr *ngFor="let item of cartList;let i=index">
            <td>
              <img src="{{item.ImageUrl}}" style="height: 100px;width: 100px;">
            </td>
            <td class="align-middle"> {{item.Name}}</td>
            <td class="align-middle">{{item.Price |currency :'VND'}}</td>
            <td class="align-middle">{{item.Quantity}}</td>
            <td class="align-middle">{{item.Price!*item.Quantity! |currency :'VND'}}</td>
            <td class="align-middle">
              <button class="btn btn-danger" (click)="Remove(i)">Remove</button>
            </td>
          </tr>
          <tr>
            <th colspan="2">
            </th>
            <th>Sum price:</th>
            <th>{{ItemCount()}}</th>
            <th>{{ ItemSum() |currency :'VND'}}</th>
            <th>
              <button class="btn btn-danger" (click)="DeleteAll()">Delete All</button>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>